<ion-header>
  <ion-toolbar>
    <ion-title>Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="feedback">
    <ion-card>
      <ion-card-header class="ion-text-center">
        <ion-card-title>Feedback</ion-card-title>
      </ion-card-header>
    
      <ion-card-content class="text-area">
        <ion-item>
          <ion-textarea [(ngModel)]="feedback" placeholder="Please enter your feedback here:"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <div class="ion-text-right"> 
      <ion-button routerLink = "/home" routerDirection="forward" fill="clear" (click)="uploadFeedback()">Skip/Submit</ion-button>
    </div>
  </div>

  
</ion-content>

<ion-footer (click)="back()">
  <ion-toolbar color="secondary">
    <ion-title>Back</ion-title>
  </ion-toolbar>
</ion-footer>