ion-content{
    --background: none;
    background-image: url('/assets/image/bookbackground.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    ion-button{
      background-color: rgba(202, 200, 236, 0.5);
    }
  }