<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Password Reset</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form class="form" [formGroup]="validations_form" (ngSubmit)="resetPassword(validations_form.value)">
    <ion-item>
      <p class="go-to-register">
        Please enter your email address below and we will send an email to you on how to reset your password.
      </p>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message"
          *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-row style="height: 10px"></ion-row>

    <ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid" expand="block">Submit</ion-button>
    <label class="error-message">{{errorMessage}}</label>
  </form>
</ion-content>

<ion-footer (click)="back()">
  <ion-toolbar color="secondary">
    <ion-title>Back</ion-title>
  </ion-toolbar>
</ion-footer>
