#map {
    height: 50%;
}

ion-content{
    --background: none;
    background-image: url('/assets/image/bookbackground.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

.theimage {
    width: 100%;
   display: block;
   align-items: center;
 }