<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-info">
    <ion-item>
      <ion-label position="floating" color="primary">Username</ion-label>
      <ion-input [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">Password</ion-label>
      <ion-input [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">Gender</ion-label>
      <ion-input [(ngModel)]="gender"></ion-input>
    </ion-item>

    <ion-button fill="solid" expand="block" color="dark" (click)="updateDetails()">Save</ion-button>
  </div>
</ion-content>