<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Welcome to Dashboard!
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Your Registered EmailID : {{userEmail}}
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-button routerLink = "/profile" routerDirection="forward" fill="outline" expand="block" >Profile</ion-button>
  <ion-row style="height: 10px"></ion-row>
  <ion-button routerLink = "/search" routerDirection="forward" fill="outline" expand="block">Search</ion-button>


</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>
