.item ion-thumbnail {
    min-width: 10rem;    
    min-height:10rem;
    img {
        max-width: 10rem;    
        min-width: 10rem;
    }
}
ion-content{
    --background: none;
    background-image: url('/assets/image/bookbackground.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }