<ion-header>
  <ion-toolbar>
    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    showcancelbutton=""
    (ionInput)="filterList($event)"
  ></ion-searchbar>

  <ion-list lines="none">
    <ion-item *ngFor="let locationItem of locationList">
      <ion-label class="ion-text-wrap">
        <ion-thumbnail slot="start">
          <img [src]=" '../../assets/image/' + locationItem.name + '.jpg' ">
        </ion-thumbnail>
        <ion-text color="primary">
          <h3>{{ locationItem.name }}</h3>
        </ion-text>
        <p>{{ locationItem.seatsAvaliable}} -- {{ locationItem.seatsOccupancy }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
