.logo {
   width: 100%;
  display: block;
  align-items: center;
}

ion-content{
  // --background: rgba(26, 27, 41, 1);
  --background: none;
  background-image: url('/assets/image/bookbackground.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.image{
    transform: translateX(-50%) translateY(-50%);
    top: 30%;
    left: 50%;
    position: absolute;  
}

.buttons{
  transform: translateX(-50%) translateY(-50%);
  top: 65%;
  left: 50%;
  position: absolute;  

  ion-button{
    width: 250px;
    background-color: rgba(202, 200, 236, 0.5);
  }
}
.buttons .menu ion-button{
  // display: inline-block;
  width: 250px;
  // line-height: 45px;
  border-radius: 20%;
 
  // position: absolute;
  // font-size: 30%;
  // color: white;
  // transition: 0.7s;
}

// .buttons .li ion-button{

// }
