<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row style="height: 30px"></ion-row>
  <div class="image">
    <img [src] = "'../../assets/image/logo.png'" class="logo">
  </div>
  <div class="buttons">
    <ion-row style="height: 10px"></ion-row>
    <ion-button routerLink = "/login" routerDirection="forward" fill="outline" expand="block" >Login</ion-button>
    <ion-row style="height: 10px"></ion-row>
    <ion-button routerLink = "/register" routerDirection="forward" fill="outline" expand="block">Sign Up</ion-button>
  </div>
</ion-content>
